/* селектор body захватывет все элементы (теги, классы) с названием body */
body {
    /* свойство font-family указывает какой шрифт использовать. В данном случае - системный */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Класс для заголовка первого уровня */
.h1 {
    /* Свойство: цвет красный */
    color: red;
    /* Свойство: выравнивание текста по центру */
    text-align: center;

}

/* Класс для второй части заголовка первого уровня */
.h1__span {
    /* Свойство: цвет зеленый */
    color: green;
    /* Свойство: выравнивание по правому краю */
    text-align: right;
    /* Свойство: режим отображения - блок*/
    display: block;
}

/* Класс для изображений */
.img {
    /* Свойство: режим отображения - блок*/
    display: block;
    /* Свойство: отступ 0 сверху и снизу, равный отсут слева и справа. Нужно чтобы выровнять изображение по центру*/
    margin: 0 auto;
    /* Свойство: граница толщиной 5 пикс, линия без пунктира, черный цвет*/
    border: 5px solid black;
}

/* Класс для горизонтальный полосы */
.separator {
    /* Свойство: высота 5 пикс.*/
    height: 5px;
    /* Свойство: тень. Смещение по X - 0 пикс, смещение по Y 2 пикс, размытие 5 пикс, сжатие -1 пикс (сужение), цвет черный*/
    box-shadow: 0 2px 5px -1px black;
    /* Свойство: цвет объекта черный*/
    background-color: black;
    /* Свойство: границы убрать*/
    border: none;
}

/* Модификатор класса .separator для красного цвета */
.separator_red {
    /* Свойство: цвет объекта красный*/
    background-color: rgb(177, 70, 70);
}

/* Модификатор класса .separator для фиолетового цвета */
.separator_violet {
    /* Свойство: цвет объекта фиолетовый*/
    background-color: rgb(112, 48, 160);
}

/* Класс для параграфа выравненного по левому краю */
.left-aligned-paragraph {
    /* Свойство: выравнивание текста по левому краю */
    text-align: left;
}

/* Класс для параграфа выравненного по правому краю */
.right-aligned-paragraph {
    /* Свойство: выравнивание текста по правому краю */
    text-align: right;
}

/* Класс для текста выравненного от края до края */
.justified-text {
    /* Свойство: выравнивание текста от края до края */
    text-align: justify;
}

/* Класс для текста цвета морсокй волны */
.cyan-text {
    /* Свойство: цвет морской волны */
    color: rgb(0, 176, 240);
}

/* Класс для текста красного цвета */
.red-text {
    /* Свойство: красный цвет  */
    color: red;
}

/* Класс для текста фиолетового цвета */
.violet-text {
    /* Свойство: фиолетовй цвет */
    color: rgb(112, 48, 160);
}

/* Класс для текста зеленого цвета */
.green-text {
    /* Свойство: зеленый цвет */
    color: rgb(0, 176, 80);
}

/* Класс для текста голубого цвета */
.blue-text {
    /* Свойство: голубой цвет */
    color: rgb(0, 112, 192);
}

/* Класс для текста, регулярного размера шрифта */
.normal-text {
    /* Свойство: вес шрифта - регулярный */
    font-weight: normal;
}

/* Класс для курсивного текста */
.italic-text {
    /* Свойство: стиль шрифта - курсивный */
    font-style: italic;
}

/* Класс для подчеркнутого текста */
.underlined-text {
    /* Свойство: декоратор шрифта - нижнее подчеркивание */
    text-decoration: underline;
}

/* Класс для таблицы */
.table {
    /* Свойство: промежуток между ячейками - отсутствует */
    border-collapse: collapse;
}

/* Класс для ячеек таблицы */
.table__cell {
    /* Свойство: граница 1 пикс, прямая линия без пунктира, черный цвет */
    border: 1px solid black;
    /* Свойство: отступ 3 пикс сверху и снизу, 3 пикс. справа и слева */
    padding: 3px 3px;
    /* Свойство: выравнивание содержимого по врехнему краю */
    vertical-align: top;
    /* Свойство: цвет ячейки бежевый */
    background-color:rgb(249,234,219);
}

/* Модификатор класса .table__cell для 4 и 5 столбцов */
.table__cell:nth-child(4n), .table__cell:nth-child(5n) {
    /* Свойство: цвет ячейки салатовый */
    background-color:rgb(198,214,162);
}

/* Класс для ячеек шифра специальности */
.table__cell_code {
    /* Свойство: стиль шрифта - курсив */
    font-style: italic;
}

/* Класс для списков, вложенных в таблицу */
.table__list {
    /* Свойство: отступ 0 пикс. по всем сторонам */
    margin: 0;
}
