/* Актуальный справочник по CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference */
/* Сверстано по методологии БЭМ: https://ru.bem.info/methodology/ */

/* Класс элемента body */
.body {
  /* Семейство шрифта: системный */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Класс логотипа */
.logo {
  /* Режим отображения: блок */
  display: block;
  /* Внешний отступ: сверху и снизу 0, слева и справа автоматически*/
  margin: 0 auto;
  /* Граница элемента: толщина 5px, линия без пунктира, черный цвет */
  border: 5px solid black;
}

/*
 * Оформление текста
 */

/* Класс подчеркнутого текста */
.underlined {
  /* Оформление текста: подчеркивание */
  text-decoration: underline;
}

/* Класс текста от края до края */
.justified {
  /* Положение текста по горизонтали: от края до края */
  text-align: justify;
}

/* Класс заголовка страницы */
.main-header {
  /* Цвет текста: красный */
  color: red;
  /* Положение текста по горизонтали: по центру */
  text-align: center;
}

/* Класс подзаголовка страницы */
.main-header__sub {
  /* Режим отображения: блок */
  display: block;
  /* Цвет текста: зеленый */
  color: green;
  /* Положение текста по горизонтали: по правому краю */
  text-align: right;
}

/*
 * Разделители
 */

.separator {
  /* Высота элемента: 8px */
  height: 8px;
  /* Граница элемента: нет */
  border: none;
  /* Тень элемента: смещение по X — 0, смещение по Y — 3px, размытие 5px, смещение 1px, цвет черный с прозрачностью 40% */
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .4);
}

.separator_red {
  /* Цвет фона: красный */
  background-color: rgb(177, 70, 70);
}

.separator_violet {
  /* Цвет фона: фиолетовый */
  background-color: rgb(112, 48, 160);
}

/*
 * Абзацы
 */

.paragraph_about, .paragraph_purpose, .paragraph_up {
  /* Положение текста по горизонтали: по правому краю */
  text-align: right;
}

.paragraph_history {
  /* Цвет: морская волна */
  color: rgb(0, 176, 240);
}

/*
 * Списки
 */

.unordered-list_disc {
  /* Тип маркера: круг */
  list-style-type: disc;
}

.unordered-list_square {
  /* Тип маркера: квадрат */
  list-style-type: square;
}

.unordered-list_circle {
  /* Тип маркера: окружность */
  list-style-type: circle;
}

.ordered-list_A {
  /* Тип маркера: заглавные буквы алфавита */
  list-style-type: upper-alpha;
}

.ordered-list_i {
  /* Тип маркера: маленькие римские цифры */
  list-style-type: lower-roman;
}

/*
 * Цветной текст
 */

.violet-text {
  /* Цвет текста: фиолетовый */
  color: rgb(112, 48, 160);
}

.red-text {
  /* Цвет текста: красный */
  color: red;
}

.green-text {
  /* Цвет текста: зеленый */
  color: rgb(0, 176, 80);
}

.blue-text {
  /* Цвет текста: голубой */
  color: rgb(0, 112, 192);
}

/*
 * Таблица
 */

/* Класс подзаголовка заголовка таблицы */
.table-header__sub {
  /* Толщина текста: нормальная (400) */
  font-weight: normal;
  /* Оформление текста: подчеркивание */
  text-decoration: underline;
}

/* Класс элемента table */
.table {
  /* Отображение границ ячеек: без отступов */
  border-collapse: collapse;
}

/* Класс ячеек таблицы */
.table__cell {
  /* Граница элемента: толщина 1px, линия без пунктира, черный цвет */
  border: 1px solid black;
  /* Внутренний отступ: 5px */
  padding: 5px;
  /* Выравнивание по вертикали: верхняя граница. Работает только в таблицах */
  vertical-align: top;
}

/* Класс ячеек столбца «Шифр» */
.table__cell_code {
  /* Начертание шрифта: курсив */
  font-style: italic;
}

/* Класс ячеек столбца «Направление» */
.table__cell_direction {
  /* Оформление текста: подчеркивание */
  text-decoration: underline;
}

/* Класс ячеек столбцов «Шифр», «Направление», «Профиль» */
.table__cell_code, .table__cell_direction, .table__cell_profile {
  /* Цвет фона: бежевый */
  background-color: rgb(249, 234, 219);
}

/* Класс ячеек столбца «Экзамены» */
.table__cell_exams {
  /* Цвет фона: салатовый */
  background-color: rgb(198, 214, 162);
}

/* Класс ячеек шапки таблицы */
.table__cell_header {
  /* Положение текста по горизонтали: по левому краю */
  text-align: left;
  /* Начертание шрифта: нормальное */
  font-style: normal;
  /* Оформление текста: нет */
  text-decoration: none;
}

/* Класс списков внутри таблицы */
.table__list {
  /* Внешний отступ: 0 */
  margin: 0;
  /* Внутренний отступ слева: 20px */
  padding-left: 20px;
}
