/* Класс элемента body */
.body {
    /* Семейство шрифта: системный */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Класс изображений */
.image {
    /* Режим отображения: блок */
    display: block;
    /* Внешний отступ: сверху и снизу 0, слева и справа автоматически */
    margin: 7px;
    /* Высота: 150 пикс */
    height: 150px;
    /* Ширина: 200 пикс */
    width: 200px
}


/*
 * Оформление ячеек
 */

 /* Класс элемента table */
.table {
    /* Отображение границ ячеек: без отступов */
    border-collapse: collapse;
}

 /* Класс ячеек таблицы */
.table__cell {
    /* Граница элемента: толщина 1px, линия без пунктира, черный цвет */
    border: 1px solid black;
    /* Выравнивание по вертикали: верхняя граница. Работает только в таблицах */
    vertical-align: top;
    /* Внутренний отступ: 5 пикс по всем сторонам */
    padding: 5px;
    /* Высота: 29 пикс */
    height: 29px;
    /* Ширина: 137 пикс */
    width: 137px;
    /* Размер шрифта: 12 пикс */
    font-size: 12px;
}

/* Выравнивание */

/* Класс ячеек таблицы; модификатор выравнивание по вертикали по центру */
.table__cell_vertical-centred {
    /* Выравнивание по вертикали: центр. Работает только в таблицах */
    vertical-align: middle;
}

/* Границы */

/* Класс ячеек таблицы; модификатор оранжевая граница */
.table__cell_orange-border {
    /* Граница элемента: толщина 3px, линия без пунктира, оранжевый цвет */
    border: 3px solid #F4C243;
}

/* Класс ячеек таблицы; модификатор черная граница */
.table__cell_black-border {
    /* Граница элемента: толщина 3px, линия без пунктира, оранжевый цвет */
    border: 3px solid black;
}

/* Цвет фона */

/* Класс ячеек таблицы; модификатор голубой фон */
.table__cell_blue-bg {
    /* Цвет фона: голубой */
    background-color: #4EAEEA;
}

/* Класс ячеек таблицы; модификатор зеленый фон */
.table__cell_green-bg {
    /* Цвет фона: зеленый */
    background-color: #4FAD5B;
}


/*
* Оформление текста
*/

/* Размеры */

/* Класс текст; модификатор большой шрифт */
.text_large {
    /* Размер шрифта: 22 пикс */
     font-size: 22px;
}

/* Начертания */

/* Класс текст; модификатор жирное начертание */
.text_bold {
    /* Толщина шрифта: жирный */
    font-weight: bold;
}

/* Класс текст; модификатор курсивное начертание */
.text_italic {
    /* Стиль шрифта: курсив */
    font-style: italic;
}

/* Выравнивание */

/* Класс текст; модификатор выравнивание по центру */
.text_center-aligned {
    /* Выравнивание текста: по центру */
    text-align: center;
}

/* Класс текст; модификатор выравнивание по правому краю */
.text_right-aligned {
    /* Выравнивание текста: по правому краю */
    text-align: right;
}

/* Цветной текст */

/* Класс текст; модификатор красный цвет */
.text_red {
    /* Цвет текста: красный */
    color: red;
}


/*
 * Списки
 */

/* Класс список; модификатор по центру родительского контейнера */
.list_centred {
    /* Режим отображения: таблица */
    display: table;
    /* Внешний отступ: сверху и снизу 0, слева и справа автоматически*/
    margin: 0 auto;
}

/* Класс ненумерованный список; модификатор маркер - закрашенная точка */
.unordered-list_disc {
    /* Тип маркера: круг */
    list-style-type: disc;
}

/* Класс ненумерованный список; модификатор маркер - квадрат */
.unordered-list_square {
    /* Тип маркера: квадрат */
    list-style-type: square;
}

/* Класс ненумерованный список; модификатор маркер - выколотая точка */
.unordered-list_circle {
    /* Тип маркера: окружность */
    list-style-type: circle;
}

/* Класс нумерованный список; модификатор маркер - заглавные буквы алфавита */
.ordered-list_A {
    /* Тип маркера: заглавные буквы алфавита */
    list-style-type: upper-alpha;
}

/* Класс нумерованный список; модификатор маркер - маленькие римские цифры */
.ordered-list_i {
    /* Тип маркера: маленькие римские цифры */
    list-style-type: lower-roman;
}

/* Класс нумерованный список; модификатор маркер - арабские цифры */
.ordered-list_numeric {
    /* Тип маркера: арабские цифры */
    list-style-type: decimal;
}